
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body, html {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    background-color: #ead8b1;
    color: #333;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex-grow: 1;
    padding: 2rem;
    text-align: center;
  }
  
  .navbar {
    width: 100%;
    background-color: #001f3f; 
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 55px;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    padding: 0 1.5rem;
  }
  
  .navbar-menu {
    display: flex;
    flex-grow: 1; 
    height: 100%; 
  }

  .navbar-menu a {
    flex-grow: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: #001f3f; 
    border: none;
    height: 100%; 
    transition: background-color 0.3s ease;
  }

  .navbar-menu a:hover {
    background-color: #003366; 
  }

  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      padding: 1rem;
    }
  
    .navbar-menu {
      flex-direction: column;
      width: 100%;
    }
  
    .navbar-menu a {
      width: 100%; 
    }
  }
  
  .footer{
    background-color: #001f3f; 
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: 1000;
    height: 55px;
}

.footer-text{
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  padding: 0 1.5rem;
  
}