{% extends "base.html" %}
{% block content %}
<div class="row" style="background-color: #BCC0C7;">
    <div class="col-7">
        <div class = "game_container">
            <h3 style="margin-top: 15px;">{{game.name}}</h3>
            <img src="{{game.gamedata.header_image}}" alt="Flowers in Chania" style="width: 100%; height: auto;"></a>
            <p></p>
        </div>
    </div>
    <div class="col-5">
        <h3 style="margin-top: 50px;">Game Summary:</h3>
        <p>{{game.gamedata.short_description}}</p>
    </div>
</div>
<div class="row" style="background-color: #BCC0C7;">
    <div class="col-8">
        <hr>
        <h3>Game Description:</h3>
        {{game.gamedata.detailed_description |safe}}
    </div>
    <div class="col-4">
        <hr>
        <h1>Reviews:</h1>
        {% if reviews.review_score_desc == 'No user reviews' %}
            <p>Steam Reviews: {{reviews.review_score_desc}}</p>
        {% else %}
            <p>Steam Reviews: {{reviews.review_score}}/10, {{reviews.review_score_desc}}</p>
        {% endif %}

        {% if game.gamedata.is_free %}
            <h3>Game is free to play!</h3>
        {% else %}
            {% if price_overview.discount_percent == 0 %}
                <h3>{{price_overview.final}}{{price_overview.currency}}</h3>
            {% else %}
                <h3>-{{price_overview.discount_percent}}% {{price_overview.final}}{{price_overview.currency}}</h3>
                <b><s>{{price_overview.initial}}{{price_overview.currency}}</s></b>
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="row" style="background-color: #BCC0C7;">
    <div class="col-4">
        <hr>
        <h3>Developers:</h3>
        <p>{{steam_spy_info.developer}}</p>
        <h3>Publishers:</h3>
        <p>{{steam_spy_info.publisher}}</p>
    </div>
    <div class="col-8">
        <hr>
        <h3>Supported Languages:</h3>
        <p>{{game.gamedata.supported_languages |safe}}</p>
    </div>
</div>
<div class="row" style="background-color: #BCC0C7;">
    <div class="col">
        <hr>
    </div>
</div>
{% endblock content %}