{% extends "base.html" %}
    {% block content %}
    <h1>Game List</h1>
    <div class = "game_grid">
        {% for game in games %}
        <div class = "game_container">
            <h3>{{game.name}}</h3>
            {% for key, value in game.items %}
                {% if key == "header_image" %}
                <a href="games-list/game/{{game.steam_appid}}"><img src="{{value}}" alt="Flowers in Chania"></a>
                {% endif %}
            {% endfor %}
            <p>{{game.review_score}}/10, {{game.review_score_desc}}</p>
        </div>
        {% endfor %}
    </div>
    
    <a href="?last_appid={{last_appid}}">Next Page</a>
{% endblock content %}