{% extends "base.html" %}
    {% block content %}


    <h1 style="background: linear-gradient(to right, #8d80d8, #7EAFC4);
  background-clip: text;
  -webkit-text-fill-color: transparent;">
        Platform for unbiased video game reviews
    </h1>
    <p style="color: #BCC0C7;">A place where everyone can review their favorite video games, unburdened by the watchfull eyes of Steam and Epic</p>


    <ul class="list-group">
        {% for paginator_game in paginator %}
        <a href="game/{{paginator_game.appid}}" class="list-group-item list-group-item-action list-group-item-dark">
            <div class="row">
                <div class="col-2">           
                    <img src="{{paginator_game.gamedata.header_image}}" alt="Flowers in Chania" class="img-thumbnail">
                </div>
                <div class="col-6">
                    <h3>{{paginator_game.name}}</h3>
                </div>
                <div class="col-4">
                    {% for game in games %}
                        {% if forloop.parentloop.counter0 == forloop.counter0 %}
                            {% if game.review_score_desc == 'No user reviews' %}
                                <p>{{game.review_score_desc}}</p>
                            {% else %}
                                <p>{{game.review_score}}/10, {{game.review_score_desc}}</p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </a>
        {% endfor %}
        <li class="list-group-item list-group-item-action list-group-item-dark">
            <center>
                <div class="btn-group" role="group" aria-label="Basic example">
                    {% if paginator.has_previous %}
                        <a href="?page={{paginator.previous_page_number}}" class="btn btn-secondary"> < </a>
                        <a href="?page=1" class="btn btn-secondary"> 1 </a>
                    {% else %}
                        <a class="btn btn-secondary disabled"> < </a>
                    {% endif %}
                    <a class="btn btn-secondary active"> {{paginator.number}} </a>
                    {% if paginator.has_next %}
                        <a href="?page={{paginator.paginator.num_pages}}" class="btn btn-secondary"> {{paginator.paginator.num_pages}} </a>
                        <a href="?page={{paginator.next_page_number}}" class="btn btn-secondary"> > </a>
                    {% else %}
                        <a class="btn btn-secondary disabled"> > </a>
                    {% endif %}
                </div>
            </center>
        </li>
    </ul>
{% endblock content %}