{% extends "games_list/base.html" %}
    {% block content %}
    <h1>Game List</h1>
    {% for game in games %}
    <div class = "review_container">
        <p>{{game.name}}</p>
        {% for key, value in game.items %}
            {% if key == "header_image" %}
                <img src="{{value}}" alt="Flowers in Chania">
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    
    {% if games.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{games.previous_page_number}}">Previous</a>
    {% endif %}
    {{games}}
    {% if games.has_next %}
        <a href="?page={{games.next_page_number}}">Next</a>
        <a href="?page={{games.paginator.num_pages}}">Last</a>
    {% endif %}
{% endblock content %}