{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    There was an error with your form
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


<main class="content">
    <div class="shadow p-4 mb-5 bg-body rounded">
        <h1>Register</h1>
        <br/>
        <form action="{% url 'game_lib_register' %}" method = 'post'>
            {% csrf_token %}
            
            {{ form.as_p }}            
            <br/>           
            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>

    </div>
</main>
<br/>
{% endblock content %}