body 
{
    background: darkgray;
    color: #333;
    padding: 16px 0px;
    font-family: "Helvetica";

    .review_container
    {
        background-color: lightgray;
        color: black;
        border: 2px solid gray;
        border-radius: 15px;
        width: 25%;
        margin: 20px;
        padding: 20px;
    }

    ul.nav_bar
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    ul.nav_bar li
    {
        float: left;
    }

    ul.nav_bar li a 
    {
        display: block;
        color: #CCCCCC;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
}