body 
{
    background: linear-gradient(to right, #e2e2e2, #BDD5EA);
    color: #333;
    padding: 16px 0px;
    font-family: "Helvetica";

    .review_container
    {
        background: linear-gradient(to right, #BDD5EA, #e2e2e2);
        color: black;
        border: 2px solid gray;
        border-radius: 15px;
        width: 25%;
        margin: 20px;
        padding: 20px;
    }

    ul.nav_bar
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #6247AA;
    }

    ul.nav_bar li
    {
        float: left;
    }

    ul.nav_bar li a 
    {
        display: block;
        color: #CCCCCC;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .rating-list li {
        float: right;
        color: #ddd;
        padding: 10px 5px;
      }

      .rating-list li:hover,
      .rating-list li:hover ~ li {
        color: orange;
      }

      .rating-list {
        display: inline-block;
        list-style: none;
      }
      .checked {
          color: orange;
      }
}